body{
    background-color: #fcf8f0;
}
hr.footer-horizontal-break{border-top: 1px solid gray;}

.map-container-5{overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-container-5 iframe{left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.heading{background-image: linear-gradient(to right, rgba(83, 83, 83, 0.616), rgba(255, 0, 0, 0));
    border-radius: 0px;
}

.article-jumbotron{background-color: rgba(0, 0, 0, 0.473);}

.show-jumbotron{background-image: linear-gradient(to top, rgba(0, 0, 0, 0),rgba(43, 42, 42, 0.616));
    border-radius: 0px;
}

.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
}

.jumbotron {
    position:relative;
    overflow:hidden;
    background-image: url(/storage/assets/jumbotron.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron.container {
    color: #ffff;
}

.navbar-dark {
    background-color: #373029 !important;
    color: #eedaca !important;
}

.event-card{
    height: 270 !important;
}
